* {
    box-sizing: border-box;
    font-family: 'Open Sans';
    color: white;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans';
    user-select: none;
}

body {
    margin: 0;
    background-color: #222;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header-container {
    display: flex;
    flex-direction: row;
    background-color: #333;
    height: 70px;
    user-select: none;
    align-items: center;
}

.logo-container {
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 20px 40px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 16px;
}

.logo-container img {
    height: 35px;
    margin-right: 20px
}

.tab {
    padding: 20px 40px;
    height: 100%;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: 0.1s;
    font-size: 13pt;
}

.tab:not(.selected) {
    cursor: pointer;
}

.tab:hover {
    background-color: #2a2a2a;
}

.tab.selected {
    color: #FFE14D;
    transition: none;
    background-color: #222;
}

.lights-container {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
}

.light-title {
    color: #4A4A4A;
    text-transform: uppercase;
    font-size: 14pt;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

#ledstrip-container {
    margin-right: 100vw;
    position: relative;
}

#ledstrip-canvas {
    position: absolute;
    top: 44px;
    left: 1px;
    width: 880px;
}

.lighting-container {
    margin-bottom: 35px;
    margin-right: 64px;
}

#keyboard-container {
    margin-right: 90px;
}

.section-header {
    background-color: #2B2B2B;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: solid 1px #303030;
    padding: 0 45px;
    
}

.section-header h3 {
    font-weight: bold;
    margin: 0;
    font-size: 16pt;
}

.section-header h4 {
    margin: 0;
    font-weight: normal;
    font-size: 14pt;
}

.sidebar {
    width: 250px;
    height: calc(100vh - 190px);
    position: fixed;
    bottom: 0;
    background-color: #343434;
}

.sidebar-button {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 13pt;
    font-weight: 600;
    letter-spacing: 2px;
    user-select: none;
    cursor: pointer;
}

.sidebar-button:hover {
    background-color: #2a2a2a;
}

.sidebar-button.selected {
    background-color: #222;
    color: #FFE14D;
}

.sidebar-button.big {
    height: 120px;
}

.game-logo {
    width: 100%;
    padding: 50px;
}

.game-logo.bigger {
    transform: scale(1.1);
}

.sidebar-button.selected > .game-logo {
    filter: brightness(1) sepia(1) saturate(10000%) hue-rotate(-20deg);
}


.content {
    padding: 30px 100px 0px 64px;
    margin-left: 250px;
    overflow-y: scroll;
    height: calc(100vh - 190px);
    overflow-x: hidden;
}

.game-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.game-title-container h1 {
    font-weight: 600;
    font-size: 18pt;
    margin: 0;
    margin-right: 10px;
}

.game-title-container button {
    color: #FFE14D;
}

.title-separator {
    background-color: #343434;
    width: 650px;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.setting-container {
    margin-bottom: 20px;
}

.setting-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.setting-title h3 {
    font-size: 11pt;
    font-weight: 500;
    margin: 0;
    -webkit-text-stroke: 0.2px;
    -webkit-text-stroke-color: #fff;
}

.setting-subtitle {
    color: #7B7B7B;
    font-size: 11pt;
    margin-left: 15px;
    user-select: none;
}


/* MATERIAL SWITCH */

.switch {
    display: inline-block;
    position: relative;
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 24px;
}

.switch__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 20px;
    opacity: 0;
    z-index: 0;
}

.switch__label {
    display: block;
    padding: 0 0 0 44px;
    cursor: pointer;
}

.switch__label:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 36px;
    height: 14px;
    background-color: rgba(255, 255, 255, 0.33);
    border-radius: 14px;
    z-index: 1;
    -webkit-transition: background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.switch__label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    z-index: 2;
    -webkit-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-property: left, background-color;
    transition-property: left, background-color;
}

.switch__input:checked + .switch__label:before {
    background-color: rgba(255, 218, 35, 0.5);
}

.switch__input:checked + .switch__label:after {
    left: 16px;
    background-color: #FFDA23;
}

.setting-section {
    position: relative;
    margin-bottom: 50px;
}

.setting-section:last-child {
    margin-bottom: 0;
}

.setting-section-header {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 12pt;
    font-weight: normal;
    user-select: none;
    margin-bottom: 20px;
    height: 100%;
}

.setting-section .chevron {
    position: absolute;
    top: -0.5px;
    left: -33px;
}

/* RADIO */

.mdl-button {
    user-select: none;
}

.multi-choice input {
    display: none;
}

.multi-choice {
    display: flex;
    flex-direction: row;
}

.multi-choice :not(:first-child) {
    margin-left: 0.5px;
}

.multi-choice input[type=radio]:checked + .mdl-button {
    background-color: #FFE14D;
    color: #222;
}

.multi-choice input[type=radio]:not(:checked) + .mdl-button {
    box-shadow: none;
}

.multi-choice input[type=radio] + .mdl-button {
    background-color: rgba(255, 255, 255, 0.12);
    color: rgba(255, 255, 255, 0.25);
}

.multi-choice :first-child .mdl-button {
    border-radius: 2px 0 0 2px;
}

.multi-choice :not(:first-child):not(:last-child) .mdl-button {
    border-radius: 0;
}

.multi-choice :last-child .mdl-button {
    border-radius: 0 2px 2px 0;
}

.binding-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.binding-container > :not(:last-child) {
    margin-right: 60px;
}

.binding {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
}

.binding span {
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100px;
}

.binding-box {
    margin-top: 40px;
    background-color: #2D2D2D;
    border: solid 2px #646464;
    border-radius: 20px;
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18pt;
    width: 64px;
    height: 64px;
}

.setting-section-restore-default {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.setting-section-restore-default .setting-section-header, .setting-subheader-container .setting-section-header {
    margin-bottom: 0;
}

.setting-section-restore-default button, .setting-subheader-container button {
    color: #FFE14D;
    margin-left: 10px;
    transform: translateY(-8px);
}

.search-bar {
    position: relative;
    width: 320px;
    margin-left: 12px;
    margin-bottom: 1px;
}

.search-icon {
    height: 18px;
    margin-left: 25px;
    margin-bottom: 1px;
}

.search-icon path {
    transition: 0.1s;
}

.search-bar input {
    width: 100%;
    background: none;
    border: none;
    font-size: 11pt;
}

.search-bar input:focus {
    border: none;
    outline: none;
}

.search-underline {
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -7px;
    background-color: #3D3D3D;
    transition: 0.1s;
}

.search-bar input:focus ~ .search-underline {
    background-color: #FFE14D;
}

.setting-subheader-container {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.setting-subheader-container .setting-section-header {
    color: #FFE14D;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 13pt;
}

.filled-background {
    background-color: #262626;
    position: absolute;
    left: -100px;
    right: -100vw;
    height: 100%;
    z-index: -50;
}